---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Fernando Muñoz
  </div>
  <div class="inline opacity-75">
    Desarrollado por <a href="https://github.com/SoftVoidDev" target="_blank" class="font-bold">Fernando Muñoz</a> usando
    <a href="https://astro.build/" target="_blank" class="font-bold">Astro & Javascript ⚡️</a>
  </div>
</footer>
<style></style>
